# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
ENV/
.venv/

# Environment
.env
.env.local

# Prisma
prisma/dev.db
prisma/*.db-journal
.prisma/client/

# Node
node_modules/
package-lock.json

# VS Code
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db